<?xml version="1.0" encoding="UTF-8"?>
 
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0"> 
 
    <display-name>Java Web Project</display-name>
    <servlet>
        <servlet-name>JavaWebProj</servlet-name>
        <servlet-class>com.aula121.PrimerServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>JavaWebProj</servlet-name>
        <url-pattern>/allparameters</url-pattern>
    </servlet-mapping>
 
</web-app>
